body {
  font-family: "Poppins", sans-serif;
}

.home-m {
  height: 650px;
  padding-top: 12rem !important;
  padding-bottom: 10rem !important;
}

.title {
  font-size: 2.6rem;
  margin-top: 80px;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

.btn-documentation {
  color: #fff;
  font-size: 0.7rem;
  margin-right: 15px;
  padding: 0.8rem 1.5em;
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

.subtitle {
  font-size: 1.15rem;
  color: rgba(255, 255, 255, 0.4);
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.bg-gradient {
  position: relative;
  background: rgb(12, 105, 171);
  background-image: linear-gradient(
    135deg,
    #0061f2 0%,
    rgba(105, 0, 199, 0.8) 100%
  );
}

.svg-border svg {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3rem;
  width: 100%;
  background: white;
}

.svg-border-waves {
  padding-top: 4rem;
}

.svg-border-waves svg {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3rem;
  width: 100%;
}

.btn-ng {
  color: #fff;
  background-color: #00ba94;
  border-color: #00ba94;
  color: white;
  border-radius: 25px;
  font-size: 0.7rem;
  margin-right: 15px;
  background: #00ba94;
  padding: 0.8rem 1.5em;
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  cursor: pointer;
}

.btn-documentation:hover {
  text-decoration: underline;
  color: rgba(255, 255, 255, 0.5);
}

.btn-ng:hover {
  color: #fff;
  background-color: #009476;
  border-color: #00876b;
  text-decoration: none;
  cursor: pointer;
}

.btn-ng:focus,
.btn-ng.focus {
  color: #fff;
  background-color: #009476;
  border-color: #00876b;
  box-shadow: 0 0 0 0.2rem rgba(38, 196, 164, 0.5);
}

.dropdown-menu {
  padding-top: 0;
  padding-bottom: 0;
}

.dropdown-header {
  width: 600px;
  margin: 0;
}

.width-box {
  width: 400px;
}

.bg-opacity {
  background-color: rgba(12, 105, 171, 0.6);
}

.bg-img-cover {
  background-color: rgba(12, 105, 171, 0.6);
  /*chamge img*/
  z-index: -1;
  background-image: url("assets/bg-leading.jpg");
  box-shadow: inset 0 0 0 1000px rgba(0, 97, 242, 0.8);
}

/*Navar*/

.dropdown .dropdown-toggle .dropdown-arrow {
  margin-left: 0.4rem;
  margin-right: 0;
}

.navbar-padding .navbar-nav {
  padding-top: 1.75rem;
  padding-bottom: 1.75rem;
}

.navbar-brand {
  font-weight: 400;
}

.navbar-collapse {
  flex-basis: 100%;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-align: center;
  align-items: center;
}

.nav-link {
  display: block;
  padding: 0.5rem 2rem;
  font-size: 1rem;
  margin-right: 1rem;
}

.navbar-padding .navbar-nav .nav-item .nav-link {
  font-weight: 500;
}

.mr-lg-5,
.mx-lg-5 {
  margin-right: 3rem !important;
  color: rgba(255, 255, 255, 0.5);
}

.dropdown-toggle::after {
  display: none;
}

.container .nav-title {
  font-weight: 600;
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  white-space: nowrap;
}

.nav-title:hover {
  text-decoration: none;
}

/*Landing dropdown*/

.btn-white-leadings {
  color: #0061f2;
  background-color: white;
  border-color: #00ba94;
  color: white;
  border-radius: 25px;
  font-size: 0.7rem;
  margin-right: 15px;
  background: #00ba94;
  padding: 0.8rem 1.5em;
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  background: white;
  border: #0061f2 1px solid;
  cursor: pointer;
}

.none-padding {
  padding: 0.5rem;
  padding-right: 3rem;
}

.none-padding a {
  cursor: pointer;
}

/*documentation*/

.item {
  height: 20px;
  width: 20px;
}

.box {
  background: #bfd6f8;
  border-radius: 50%;
  display: inline-block;
  height: 35px;
  width: 35px;
}

/*Demos*/

.demos-alert {
  color: #0061f2;
  font-weight: 400;
  text-align: center;
  border-radius: 10rem;
  background: #bfd6f8;
  padding: 0 0.5rem;
  margin-bottom: 1rem;
}

.demos {
  padding-top: 4rem;
  margin: 0px auto;
  padding-bottom: 4rem;
}

.demos-title {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  color: #323f52;
  font-size: 1.4rem;
}

.demos-text-center {
  font-size: 1.1rem;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 1rem;
  text-align: center;
}

.bg-inverse {
  background: rgba(0, 0, 0, 0.6) !important;
  margin: 0;
}

.innerPages {
  background: #f8f9fa;
}

/*border grey*/

.svg-border-rounded svg {
  bottom: 0;
  left: 0;
  height: 3rem;
  width: 100%;
}

.svg-border-rounded-white svg {
  bottom: 0;
  left: 0;
  height: 3rem;
  width: 100%;
  background-color: white;
}

/*Border hite*/
.svg-border-labding-pages svg {
  bottom: 0;
  left: 0;
  height: 3rem;
  width: 100%;
  color: white;
}

.svg-border-labding-pages {
  color: white;
}

.color-landing-pages {
  background-color: white;
}

.list-group li i {
  color: rgb(170, 167, 167);
}

.border {
  border: 2px;
}

/*Documentation*/

.documentation-number {
  color: #c5ccd6 !important;
  font-weight: 700 !important;
  text-align: center !important;
  font-size: 5.5rem;
}

.documentation-title {
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  color: #323f52;
}

.documentation-text {
  margin-top: 0;
}

.down {
  margin-bottom: 10rem;
}

.documentation-button {
  color: #fff;
  background-color: #0061f2;
  border-color: #0061f2;
  color: white;
  border-radius: 25px;
  font-size: 0.7rem;
  margin-right: 15px;
  background: #0061f2;
  padding: 0.8rem 1.5em;
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  cursor: pointer;
  margin: 0 auto;
}

.documentation-button:hover {
  text-decoration: underline;
  color: rgba(255, 255, 255, 0.5);
}

.documentation-button:hover {
  color: #fff;
  background-color: #0061f2;
  border-color: #0061f2;
  text-decoration: none;
  cursor: pointer;
}

.documentation-button:focus,
.documentation-button.focus {
  color: #fff;
  background-color: #0061f2;
  border-color: #0061f2;
  box-shadow: 0 0 0 0.2rem rgba(0, 97, 242, 0.5);
}

/*Footer*/

footer {
  background-color: white;
  padding-top: 6rem !important;
}

.footer-space {
  background-color: white;
  padding-bottom: 2rem !important;
}

.footer-line {
  border-top: #c5ccd6 solid 1px;
  padding-top: 2rem !important;
}

.icons i {
  color: #c5ccd6 !important;
}

.footer-main-text {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.25rem;
  color: #a2acba;
  display: block;
}
.footer-normal-text {
  margin-bottom: 1rem !important;
  color: #a2acba;
  display: block;
}

.footer-title {
  font-weight: 700;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #a2acba;
  display: block;
}

.footer-option {
  text-decoration: none;
  color: #a2acba;
  background-color: transparent;
  font-weight: 200;
  color: inherit !important;
  cursor: pointer;
  line-height: 1.5;
  margin-top: 1rem;
}

.footer-option:hover {
  cursor: pointer;
  text-decoration: underline;
}

.copyright a {
  color: #a2acba;
  margin-bottom: 4rem;
}

/*float*/

#slide-up {
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  -o-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-name: slide-up;
  -moz-animation-name: slide-up;
  -o-animation-name: slide-up;
  animation-name: slide-up;
  -webkit-animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
  -o-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-out;
  -moz-animation-timing-function: ease-out;
  -o-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  position: relative;
  top: 500px;
}

@-webkit-keyframes slide-up {
  0% {
    top: 500px;
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  35% {
    top: -20px;
  }
  100% {
    top: 0px;
  }
}
@-moz-keyframes slide-up {
  0% {
    top: 500px;
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  35% {
    top: -20px;
  }
  100% {
    top: 0px;
  }
}
@-o-keyframes slide-up {
  0% {
    top: 500px;
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  35% {
    top: -20px;
  }
  100% {
    top: 0px;
  }
}
@keyframes slide-up {
  0% {
    top: 500px;
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  35% {
    top: -20px;
  }
  100% {
    top: 0px;
  }
}

.slideUp {
  -webkit-box-shadow: -8px 26px 37px -17px rgba(0, 0, 0, 0.19);
  -moz-box-shadow: -8px 26px 37px -17px rgba(0, 0, 0, 0.19);
  box-shadow: -8px 26px 37px -17px rgba(0, 0, 0, 0.19);
}

.slideUp:hover {
  -webkit-box-shadow: -8px 26px 37px -17px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: -8px 26px 37px -17px rgba(0, 0, 0, 0.57);
  box-shadow: -8px 26px 37px -17px rgba(0, 0, 0, 0.57);
  -webkit-animation-duration: 6s;
  -moz-animation-duration: 6s;
  -o-animation-duration: 6s;
  animation-duration: 6s;
  -webkit-animation-name: slideUp;
  -moz-animation-name: slideUp;
  -o-animation-name: slideUp;
  animation-name: slideUp;
  -webkit-animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
  -o-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-out;
  -moz-animation-timing-function: ease-out;
  -o-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  position: relative;
  top: 0px;
}

@-webkit-keyframes slideUp {
  0% {
    top: -3px;
  }
  25% {
    top: -3px;
  }
  35% {
    top: -3px;
  }
  100% {
    top: -3px;
  }
}
@-moz-keyframes slideUp {
  0% {
    top: -3px;
  }
  25% {
    top: -3px;
  }
  35% {
    top: -3px;
  }
  100% {
    top: -3px;
  }
}
@-o-keyframes slideUp {
  0% {
    top: -3px;
  }
  25% {
    top: -3px;
  }
  35% {
    top: -3px;
  }
  100% {
    top: -3px;
  }
}
@keyframes slideUp {
  0% {
    top: -3px;
  }
  25% {
    top: -3px;
  }
  35% {
    top: -3px;
  }
  100% {
    top: -3px;
  }
}

/*Botones id='btn-move'*/

#btn-move:hover {
  -webkit-animation-duration: 6s;
  -moz-animation-duration: 6s;
  -o-animation-duration: 6s;
  animation-duration: 6s;
  -webkit-animation-name: btn-move;
  -moz-animation-name: btn-move;
  -o-animation-name: btn-move;
  animation-name: btn-move;
  -webkit-animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
  -o-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-out;
  -moz-animation-timing-function: ease-out;
  -o-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  position: relative;
  top: 0px;
}

@-webkit-keyframes btn-move {
  0% {
    top: -3px;
  }
  25% {
    top: -3px;
  }
  35% {
    top: -3px;
  }
  100% {
    top: -3px;
  }
}
@-moz-keyframes btn-move {
  0% {
    top: -3px;
  }
  25% {
    top: -3px;
  }
  35% {
    top: -3px;
  }
  100% {
    top: -3px;
  }
}
@-o-keyframes btn-move {
  0% {
    top: -3px;
  }
  25% {
    top: -3px;
  }
  35% {
    top: -3px;
  }
  100% {
    top: -3px;
  }
}
@-keyframes btn-move {
  0% {
    top: -3px;
  }
  25% {
    top: -3px;
  }
  35% {
    top: -3px;
  }
  100% {
    top: -3px;
  }
}
