@media only screen and (min-width: 1200px) {
  .top-no-padding {
    height: 15rem;
  }
  .nav-title {
    margin-left: -15px;
  }
}

@media only screen and (max-width: 1000px) {
  .ml-10 {
    margin-left: 0rem;
    margin-top: 3rem;
  }
  .nav-title {
    margin-left: 30px;
  }
  .navbar-nav {
    padding-left: 30px;
  }
  .btn-demo {
    margin-left: 30px;
  }
  .navbar-collapse {
    margin-bottom: 1rem;
  }
}

.margin-top-item {
  margin-bottom: 1.5rem;
  padding-left: 0;
}

.img-comun {
  padding-right: 0;
}
